:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--page-background);
}

/* Page Header */
header {
  width: 100%;
  height: 450px;
  text-align: center;
  padding-top: 100px;
  color: var(--page-background);
  background: var(--blue);
}
header h1 {
  font-size: 3rem;
  font-weight: 700;
}
header p {
  font-size: 18px;
  font-weight: 400;
  margin: 30px auto;
}

/* Setup Card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card-container .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 355px;
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
  transform: translateY(-120px);
}

/* Card Title, Price and Description */
.card-container .card .plan-title {
  font-size: 18px;
  font-weight: 600;
  color: #1E2338;
}
.card-container .card .plan-price {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray);
}
.card-container .card .plan-price .price {
  font-size: 36px;
  font-weight: 700;
  color: #1E2338;
}
.card-container .card .plan-price .decimal {
  font-weight: 700;
  color: #1E2338;
}
.card-container .card .plan-description {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/* Card Item and Button*/
.card-container .card .plan-item {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray);
}
.card-container .card .plan-item::before {
  content: url(./assets/check.svg);
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.card-container .card  .sign-btn {
  width: 296px;
  height: 49px; 
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--blue);
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--blue);
  margin-top: auto;
  cursor: pointer;
}

/* Popular Card */
.card-container .card .popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow);
  padding: 25px 30px;
  border-radius: 8px 8px 0px 0px;
}
.card-container .card:nth-child(2) .popular-header .plan-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
}
.card-container .card:nth-child(2) .popular-header .tag {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 24px;
  color: #fff;
  border-radius: 40px;
  background-color: var(--blue);
}
.card-container .card:nth-child(2) {
  padding: 0px 0px 30px 0px;
  /* transform: translateY(-130px); */
}
.card-container .card:nth-child(2) .sign-btn {
  margin: auto 30px 0px;
  background-color:var(--blue);
  color: #fff;
}
.card-container .card .sign-btn:hover {
  background-color:var(--blue);
  color: #fff;
}
.card-container .card .plan-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 30px 0px 30px;
}

/* Responsive */
@media (max-width: 950px) {
  .card-container {
    display: flex;
    gap: 30px;
  }
  .card-container .card {
    width: 500px;
    min-height: 500px;
  }
  .card-container .card:nth-child(2) {
    transform: translateY(-120px);
    order: -1;
  }
  .card-container .card .sign-btn {
    width: 100%;
    height: 49px;
  }
  .card-container .card:nth-child(2) .sign-btn {
    width: 88%;
  }
}

@media (max-width: 502px) {
  .card-container .card:nth-child(2) {
    transform: translateY(-100px);
    order: -1;
  }
}

@media (max-width: 334px) {
  .card-container .card:nth-child(2) {
    transform: translateY(-10px);
    order: -1;
  }
}

@media (max-width: 280px) {
  .card-container .card:nth-child(2) .sign-btn {
    width: 80%;
  }
}